<%= stylesheet_link_tag "plupload/jquery.plupload.queue/css/jquery.plupload.queue" %>
<%= javascript_include_tag "plupload/plupload.full" %>
<%= javascript_include_tag "plupload/jquery.plupload.queue/jquery.plupload.queue" %>
<%= javascript_tag do %>
    <%= render "form.js" %>
<% end %>

<div id="apk_bin_container">
</div>

<div id="uploader">
   <p>Your browser sucks!</p> 
</div>

<%= form_for(@apk_bin, :html => {:multipart => true}) do |f| %>
  <% if @apk_bin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@apk_bin.errors.count, "error") %> prohibited this apk_bin from being saved:</h2>

      <ul>
      <% @apk_bin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :intent %><br />
    <%= f.text_field :intent %>
  </div>
  <div class="field">
    <%= f.label :apk %><br />
    <%= f.file_field :apk %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
